
<marquee>Buy one Get one free!!!</marquee>

<div *ngFor="let m of all" style="border:none;">
    <div class="row">
        <!--1st column-->
        <div class="col col-lg-2" style="margin-top:30px; margin-left: 2em; ">
            <!--Property Binding--><hr>
            <img [src]="m.img" class="prodimg" >
            <hr>
        </div>
        <!--2nd column-->
        <div class="card col-lg-6" style="border:none; margin-left: 5em; margin-top:30px; background-color: rgba(96, 90, 90, 0.34);">
            <div class="card-body col-lg-12">
                <div class="row" style="margin-top:10px;border-style:solid;border-color:black;border-radius:15px;">
                    <div class="col-lg-3" >
                        <!--Property Binding-->
                        <img [src]="m.img" style="margin-top: 0.5em;margin-bottom: 0.5em;" >
                    </div>
                    <div class="col-lg-9" style="margin-top:20px;">
                        <!--Interpolation Binding-->
                        <div style="margin-left: 5em;">
                            <b> {{m.pname | uppercase}}</b>
                            <span (click)="showproductDetailsToggle()" [ngClass]="toggleContent()"></span>
                        </div>
                        <hr style="margin-left: 5em; border-color: black;">
                        <div [hidden]="productDetail" style="margin-left: 5em;">
                            Description: {{m.pdescription}}
                            <br>
                            Price: {{m.price | currency:'INR'}}
                            <br>
                            <app-counter></app-counter>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--3rd column-->
        <div class="col col-lg-2" style="margin-top:30px; margin-left: 4em;">
            <!--Property Binding--><hr>
            <img [src]="m.img" class="prodimg"><hr>
        </div>
    </div>
</div>
