.twoway{
    text-align: center;
    background-color: rgba(88, 86, 85, 0.463);
    width: 300px;
    height: 150px;
    margin-left: 30em;
    
}
marquee{
    text-shadow:2px 3px 3px rgba(121, 121, 118, 0.724);
    
    font-size: 18px;
}
