


<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" style="height: 350px;">
      <div class="carousel-item active" >
        <img src="https://images.pexels.com/photos/5490963/pexels-photo-5490963.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/pexels-sora-shimazaki-5926433.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/pexels-diana-light-4830923.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

    <br>
    <marquee>-----WELCOME TO FASHION CLOSET-----</marquee>

    <br><br>
    <div class="container">
        <div class="row">
            <div class="col col-3 col-sm-6 col-md-3">
                <div class="card" style="width: 13rem; height: 22rem; background-color: rgba(92, 84, 84, 0.37);   height: 350px; margin-left: 40px;">
                  <img class="card_img" src="../../assets/images/pexels-wallace-chuck-3081173.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                        <h5 class="card-title">HEADSET</h5>
                    
                        
                    
                    
                  </div>
                </div>
              </div>
          
          <div class="col col-3 col-sm-6 col-md-3">
            <div class="card" style="width: 13rem; height: 22rem; background-color: rgba(92, 84, 84, 0.37);   height: 350px; margin-left: 40px;">
              <img class="card_img" src="../../assets/images/pexels-atc-comm-photo-952264.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                
                    <h5 class="card-title">CAMERA</h5>
                
                
             
              </div>
            </div>
          </div>
          <div class="col col-3 col-sm-6 col-md-3">
            <div class="card" style="width: 13rem; height: 22rem; background-color: rgba(92, 84, 84, 0.37);   height: 350px; margin-left: 40px;">
              <img class="card_img" src="../../assets/images/pexels-cottonbro-4065617.jpg" class="card-img-top" alt="...">
              <div class="card-body">
              
                    <h5 class="card-title">LAPTOP</h5>
                
                    
                
              </div>
            </div>
          </div>
          <div class="col col-3 col-sm-6 col-md-3">
            <div class="card" style="width: 13rem; height: 22rem; background-color: rgba(92, 84, 84, 0.37);   height: 350px; margin-left: 40px;">
              <img class="card_img" src="../../assets/images/pexels-rfstudio-3059609.jpg" class="card-img-top" alt="..." style="height: 300px;
              width: 208px;
              align-items: center; ;">
              <div class="card-body">
               
                    <h5 class="card-title">PERFUME</h5>
                
                    
               
                
              </div>
            </div>
          </div>
          
        </div>
      </div>
    
      <br>
      <hr>
       


    <div class="twoway">
        Enter the Color to see the changes:  
        <br>
        <input [(ngModel)]="mycolor" type="text" style="border-radius:10px;">
     
        <br> <br> <br>
        <button (click)="onSearch()" [style.background-color]="mycolor">Click for Event Binding</button>
    </div>

    
    <app-footer></app-footer>