<!--fetch all the records from fridge property in the .ts file which is accessing the refrigerator.json-->
<h1
  style="
    text-align: center;
    background-color: rgba(65, 62, 63, 0.523);
    margin-left: 400px;
    margin-right: 400px;
    border-radius: 10px 10px 25px 25px;
    margin-top: 0.5em;
  "
>
  Main Deals
</h1>
<div style="margin-top: 30px;">
    <div class="row">
        <!--1st column-->
        

        <!--2nd column-->
        <div class="card col-lg-6" style="border:none;margin-top: 10px; margin-left: 10em;">
            <app-main [product]="productItem" *ngFor="let productItem of all"></app-main>
           
        </div>
        <!--3rd column-->
        <div class="col col-lg-3">
            <app-advertisement></app-advertisement>
            <app-advertisement></app-advertisement>
           
            
        </div>
    </div>
</div>

<br>
<app-footer></app-footer>